{% extends "_layouts/cp" %}
{% set title = "Sample Orders"|t('order-samples') %}

{% block content %}
    <table id="menu-list" class="data fullwidth collapsible">
        <thead>
            <th scope="col">{{ "Date"|t('order-samples') }}</th>
            <th scope="col">{{ "Name"|t('order-samples') }}</th>
            <th scope="col">{{ "Email"|t('order-samples') }}</th>
            <th scope="col">{{ "Address"|t('order-samples') }}</th>
            <th scope="col">{{ "Product"|t('order-samples') }}</th>
            <th scope="col">{{ "Status"|t('order-samples') }}</th>
            <th scope="col"></th>
        </thead>
        <tbody>
        {% if orders is not empty %}
            {% for order in orders %}
                <tr>
                    <td>{{ order.dateCreated|date('d/m/Y H:i') }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.email }}</td>
                    <td>
                        {{ order.address }} <br>
                        {{ order.address2 }} <br>
                        {{ order.address3 }} <br>
                        {{ order.postcode }} <br>
                        {{ order.country }}
                    </td>

                    <td>
                        {{ order.product_name }} <br> 
                        {{ order.product_code }}

                        <br>
                        <br>
                        <br>

                        {% for product in order.getProducts().all() %}
                            {{ product.product_name }} <br> 
                            {{ product.product_code }}
                        {% endfor %}
                    </td>
                    <td>{{ order.status }}</td>
                    <td>{% if order.status == 'New' %}<a href="{{ url('sample-orders/mark-as-shipped?id=' ~ order.id) }}">Mark as shipped</a>{% endif %}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No samples have been ordered yet.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}